.App{
  background-color: #3a3648;
}
.introContainer{
  background-color: #000;
  height:100vh;
}

#audioCanvas{
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 100vh
}

@media (max-width: 600px) {
  .bm-menu{
    font-size: 2.2em!important;
    padding: 1.5em!important;
    width: 100px!important;
  }
  .bm-cross {
    background: #373b47!important;
  }
  .bm-morph-shape{
    width:0px!important
  }
}
@media (min-width: 600px) {
  .bm-menu{
    font-size: 5em!important;
    padding: 1em!important;
    width: 100px!important;
  }
  .bm-cross {
    background: #373b47!important;
  }
  .bm-morph-shape{
    width:100px!important
  }
}
.coquinisTitle {
  font-size: calc(10vmax);
  color: white;
  font-family: 'Queenie', Fallback, sans-serif;
}

.fade-enter {
    opacity: 0.01;
    transition: transform .5s ease-in-out;

}
.bm-menu-wrap{

}
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(3);
}
svg {
 width: 100%;
 height: 100%;
 visibility: hidden;

}

text {
 font-size: 84px;
 font-family: base-mono-narrow, monospace;
 font-family: zeitung-mono, sans-serif;
font-weight: 700;
font-style: normal;

}

#mainText{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    font-family: SoehneWeb2;
    font-size: 15.8vw;
    line-height: .825;
    font-weight: 800;
    text-transform: uppercase;
}

#centered{
    text-align: center;
    background-color: transparent;
    position: fixed;
    top: 40%;
    left: 50%;
    height: 150px;
    width: 70%;
    transform: translate(-50%, -50%) rotateX(45deg);
    color: #000;
    transform-style: preserve-3d;
}​



.icon{
    height: calc(20px + 1vmin);
}
